[submodule "packages/ace-jump"]
path = packages/ace-jump
url = https://github.com/winterTTr/ace-jump-mode.git

[submodule "packages/buffer-move"]
path = packages/buffer-move
url = https://github.com/lukhas/buffer-move.git

[submodule "packages/company"]
path = packages/company
url = https://github.com/company-mode/company-mode.git

[submodule "packages/dash"]
path = packages/dash
url = https://github.com/magnars/dash.el.git

[submodule "packages/elisp-slime-nav"]
path = packages/elisp-slime-nav
url = https://github.com/purcell/elisp-slime-nav.git

[submodule "packages/expand-region"]
path = packages/expand-region
url = https://github.com/magnars/expand-region.el.git

[submodule "packages/flx"]
path = packages/flx
url = https://github.com/lewang/flx.git

[submodule "packages/flycheck"]
path = packages/flycheck
url = https://github.com/flycheck/flycheck.git

[submodule "packages/ido-ubiquitous"]
path = packages/ido-ubiquitous
url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git

[submodule "packages/ido-vertical"]
path = packages/ido-vertical
url = https://github.com/gempesaw/ido-vertical-mode.el.git

[submodule "packages/markdown"]
path = packages/markdown
url = http://jblevins.org/git/markdown-mode.git

[submodule "packages/multiple-cursors"]
path = packages/multiple-cursors
url = https://github.com/magnars/multiple-cursors.el.git

[submodule "packages/neotree"]
path = packages/neotree
url = https://github.com/jaypei/emacs-neotree.git

[submodule "packages/parenface"]
path = packages/parenface
url = https://github.com/grettke/parenface.git

[submodule "packages/popup"]
path = packages/popup
url = https://github.com/auto-complete/popup-el.git

[submodule "packages/powerline"]
path = packages/powerline
url = https://github.com/dbordak/powerline.git

[submodule "packages/region-bindings"]
path = packages/region-bindings
url = https://github.com/fgallina/region-bindings-mode.git

[submodule "packages/s"]
path = packages/s
url = https://github.com/magnars/s.el.git

[submodule "packages/slime"]
path = packages/slime
url = https://github.com/slime/slime.git

[submodule "packages/slime-company"]
path = packages/slime-company
url = https://github.com/anwyn/slime-company.git

[submodule "packages/smartparens"]
path = packages/smartparens
url = https://github.com/Fuco1/smartparens.git

[submodule "packages/smex"]
path = packages/smex
url = https://github.com/nonsequitur/smex.git

[submodule "packages/smooth-scrolling"]
path = packages/smooth-scrolling
url = https://github.com/aspiers/smooth-scrolling.git

[submodule "packages/undo-tree"]
path = packages/undo-tree
url = http://www.dr-qubit.org/git/undo-tree.git
